<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    .lead {
        padding: 1rem 6px;
        margin-top: 1rem;
        background: #f6f6f6;
        width: 90%;
    }
</style>
<body>
    <a href="/leads">Go back to leads</a>
    <hr />
    <h1>Details about {{ lead }}</h1>
    <p>Age: {{ lead.age }}</p>
    <p>The agent responsible for this lead is: {{ lead.agent }}</p>
    <hr />
    <a href="/leads/{{lead.pk}}/update">Update Lead</a>
    <a href="/leads/{{lead.pk}}/delete">Delete Lead</a>
</body>
</html>